*{
  margin:0;
  padding:0;
}
header{
  background-color: rgb(178, 248, 178);
  padding:20px;
  text-align: center;
}

nav{
  display: flex;
  gap:20px;
  justify-content:center;
  background-color: rgb(68, 65, 65);
  padding:20px;
}
nav a{
  color: white;
  text-decoration: none;

}
#about{
  background-color: antiquewhite;
  text-align:left;
   margin-left:90px;
  padding:25px;
   margin-right:90px;
   margin-top:25px;
 
}
#schedule{
  background-color: antiquewhite;
  text-align:left;
    margin-left:90px;
  padding:25px;
   margin-right:90px;
   margin-top:25px;


}

table{
 
  border-collapse: collapse;
  margin-top: 20px;
  width: 100%;
}
table thead,td{
  border: 1px solid black;
  padding: 12px;
  text-align: left;


}
table thead{
  background-color: rgb(133, 128, 128);
}


#contact{
  background-color: antiquewhite;
  text-align:left;
   margin-left:90px;
  padding:25px;
   margin-right:90px;
   margin-top:25px;
   margin-bottom: 30px;
}
