*{
  margin-top:10px;
  margin-left: 10px;
}
fieldset{
  border-color: green ;
   border-width: 4px;      /* increase thickness */
 
  
 
 
}
button{
  background-color:green;
  width: 50vw;
  height:50px;
}
