* {
    margin: 0;
    padding: 0;
}

/* Background */
.container {
    height: 100vh;
    width: 100%;
    background-image: url('sun.jpg');
    background-size: cover;
    background-position: center;
}

/* Navigation */
nav {
    float: right;
    margin-top: 20px;
}

nav a {
    font-size: 1rem;
    font-weight: 550;
    padding: 5px 35px;
    color: rgb(247, 243, 243);
    text-decoration: none;
}

/* Content */
.content {
    width: 100%;
    position: absolute;
    top: 45%;
}

.left-col {
    margin-left: 11%;
}

.left-col h1 {
    font-size: 100px;
    font-weight: 500;
    color: rgb(244, 239, 240);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.right-col {
    float: right;
    margin-right: 10%;
    margin-top: -5%;
    display: flex;
    align-items: center;
}

.right-col p {
    margin-right: 15px;
    font-size: 50px;
    color: white;
   font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#icon {
    cursor: pointer;
}
